fieldset {
    background-color: white;
    position: fixed;
    right: 20px;
    top:0px;
    width: 250px;
    height: 80px;
    margin: 20px;
}

label {
    display: inline-block;
    width: 70px;
}